$green: #569342
$greenActive: #1e5413
@font-face 
    font-family: DM
    src: url("./fonts/DMSerifDisplay-Regular.ttf")


@font-face 
    font-family: DM-italic
    src: url("./fonts/DMSerifDisplay-Italic.ttf")


@font-face 
    font-family: Nanum
    src: url('./fonts/DMSerifDisplay-Regular.ttf')

body 
    background-color: rgb(33, 37, 41)
    transition-duration: 0.2s
    position: relative
    overflow-x: hidden !important
h1, h2, h3, h4, h5, h6 
    font-family: DM
.scrolled
    background-color: red !important
.navbar-brand 
    height: 48px
    width: auto 
.wrapper 
    height: 100vh
    overflow-y: auto
    overflow-x: hidden
    perspective: 10px
    transition-duration: 0.2s
.background 
    position: absolute
    height: 100%
    width: 100%
    object-fit: cover
    z-index: -1
    transform: translateZ(-10px) scale(3) translateY(-1vh)
    filter: saturate(20%)
    
.landing-container 
    position: relative
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    height: 95vh
    transform-style: preserve-3d
    z-index: -1
button 
    font-family: Nanum !important
    
.btn-primary
    background: $green
    color: white
    border: 1px solid white
    transition-duration: 0.2s
    &:hover
        background-color: rgb(255, 255, 255)
        color:#000000 !important
        transition-duration: 0.2s
        border: 1px solid white !important
    &:active 
        background-color: $greenActive !important
        border: 1px solid white !important
        color: white !important
        transform: translateY(1px) !important
.btn-secondary 
    background-color: rgba(255, 255, 255, 0)
    color:white
    border: 1px solid white
    transition-duration: 0.2s
    &:hover
        background-color: rgb(255, 255, 255)
        color:#000000 !important
        transition-duration: 0.2s 
        
    &:active 
        background-color: $greenActive !important
        border: 1px solid white !important
        color: white !important
        transform: translateY(1px) !important
.btn-faq
    background-color: #00000000
    color: white
    border: 1px solid white
    transition-duration: 0.2s
    font-size: x-large
    padding-left: 30px
    padding-right: 30px
    &:hover
        background-color: white
        color: black
        border: 1px solid black
        transition-duration: 0.2s
    &:active
        transform: translateY(1px)
        background-color: $greenActive
        color: white
        border: 1px solid white
        transition-duration: 0.2s


.btn-secondary:hover 
    background-color: rgb(255, 255, 255)
    color:#212121
    border: 1px solid white
    transition-duration: 0.2s
.social-link
    transform: scale(1.2)
    i
        transition-duration: 0.2s
        color: white
        &:hover
            
            transform: translateY(-2px)
            cursor: pointer !important

.navbar
    transition-delay: 0.6s !important
    transition-duration: 0.5s !important
.meet-the-artists-img
    max-height: 60vh
    filter: saturate(20%)

.lead-text
    font-size: x-large
.a-link
    color: $green
    text-decoration: none
    &:hover
        transition-duration: 0.2s
        transform: translateY(-1px)
        cursor: pointer
.contact-container
    background-image: url('./imgs/conact.png')
    background-repeat: no-repeat
    background-size: cover
    min-height: 80vh
.img-frame
    background-color: white
    border: 3px solid #232323a3
.meet-the-artists-img
    box-shadow: 2px 2px 6px #000000
.contact-outer-frame
    border: 3px solid rgb(164, 164, 164)
    background-color: #66666600
    padding: 0px
.contact-inner-frame
    box-shadow: 3px 3px 9px #2d2d2d93